body {
  background-color: #EEEEEE;
  color: hsl(0, 0%, 20%);
}

.hometitle {
  text-align: center;
  background-color: #BBBBBB;
  padding-top: 50px;
  padding-bottom: 50px;
}
.freshmancaucus {
  position: relative;
  font-size: 50px;
  bottom: 50px;
}
.logo {
  right: -50px;
  top: 60px;
  position: relative;
  background-color: #CCCCCC;
  height: 150px;
  width: 300px
}
.upcoming {
  text-align: center;
}
.nom {
  position: relative;
  background-color: #e2e2e2;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  height: 300px;
}
.event {
  position: relative;
  text-align: center;
  top: -2100px;
  width: 100px;
  left: 900px;
}
.FaQ {
  position: relative;
  top: -1500px;
}
.linebreak {
  height: 5px;
  background-color: #BBBBBB;
  color:#BBBBBB;
}
.FaQtitle {
  text-align: center;
  font-size: 70px;
  color:#333333;
}
.faqholder {
  height: 700px;
  background-color:#CCCCCC;
  border-radius: 1%;
}
.faq {
  height: 500px;
  width: 30%;
  top: 100px;
  position:relative;
  background-color: #BBBBBB;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.faq:hover {
  transform: scale(1.03);
}
.stack1 {
  left: 50px;
}
.stack2 {
  left: calc(30% + 100px);
}
.stack3 {
  left: calc(60% + 150px);
}
.faq2 {
  top: -400px;
}
.faq3 {
  top: -900px;
}
.faq7 {
  top: -2900px;
}
.faq4 {
  top: -1400px;
}
.faq4.stack2 {
  z-index: 1;
}
.faq5 {
  top: -1900px;
}
.faq5.stack1 {
  z-index: 1;
}
.faq6 {
  top: -2400px;
}
