body {
  background-color: #265077;
  
}
#freshmancaucus {
  padding: 20px;
  text-align: center;
  background:  #022140;
  color: white;
  font-size: 30px;
}
#classof {
  position:relative;
  left: -200px;
  top: 2px;
}
#cayla {
  position: absolute;
  background-color: #494B68;
  height: 700px;
  width: 600px;
  left: 155px;
  top: 900px;
  border-radius: 14%;
  margin: 50px;
}
#vanna {
  position: relative;
  top: 100px;
  background-color: #474964;
  height: 700px;
  width: 600px;
  border-radius: 14%;
  margin: 50px;
}
.box:hover {
  transform: scale(1.03);
}
.on-top {
  z-index: 1;
}
#description {
  position: absolute;
  top: 50px;
  width: 400px;
  height: 300px;
  padding: 20px;
  border-radius: 14%;
  background-color: #2d5f5d;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#vanadescription {
  width: 500px;
  position: absolute;
  left: 1000px;
  bottom: -170px;
  background-color: #2d5f5d;
  color: #022140;
  font-size: 18px;
  border-radius: 1%;
  padding: 12px;
}

#cayladescription {
  width: 500px;
  position: absolute;
  left: 1000px;
  bottom: -600px;
  background-color: #2d5f5d;
  color: #022140;
  font-size: 18px;
  border-radius: 1%;
  padding: 12px;
}